.picker-resizable-handle {
  width: 16px;
  height: 16px;
  background: static_url('images/lower-right-drag.png') no-repeat;
}
.header {
  background: static_url('images/header-bg.png') repeat-x;
}
.header .modal-title {
  top: 10px !important;
  font-size: 14px !important;
  color: #DDD !important;
}
.header .modal-close-icon,
.header .modal-fullscreen-icon {
  background-color: none !important;
}
.header .modal-close-icon {
  left: 10px !important;
  background: static_url('images/red-ball.png') no-repeat;
}
.header .modal-fullscreen-icon {
  left: 32px !important;
  background: static_url('images/green-ball.png') no-repeat;
}